html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header__logo-cont {
  background-image: url("/img/JUMWOO-MASTER-115.jpg");
  background-size: 100% 100%;
  height: 19rem;
  margin-bottom: 3rem;
}

.header__logo-img {
  width: 50%;
}

.gallery__img-cont {
  margin-bottom: 2rem;
}

.carousel_cont {
  width: 50%;
}

.carousel-componet {
  width: 60%;
}
